/*
:root {
    variable colors 

*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: white;
    line-height: normal;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height:auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 12px 0;
}

p {
    margin: 0;
    padding: 12px 0;
}

/* header */
header {
    padding: 20px 35px;
    background-color: darkgrey;
    color: black;
    position: sticky;
    background-image: url("./images/pexels-photo-160107.jpeg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 9999;
}

header nav ul {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    display: inline;
}

#header .content-wrap {
    padding: 0 20px;

}

/*about me section */
#about-me {
    background-color: rgb(50, 47, 70);
    color: white;
    padding-bottom: 32px;
}

/*portfolio section*/

#portfolio {
    padding: 32px 16px 16px;
}

#portfolio ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#portfolio li {
    margin: 16px;
    background-color: white;
    color: black;
}

.portfolio-content {
    padding: 20px;
}

/* contact section*/

#contact {
    background-color: dimgrey;
    color: black;
    padding: 32px;
}

#contact ul {
    list-style: none;
}

/*footer*/

footer {
    padding: 32px;
    background-color: black;
    color: white;
    text-align: center;
}

/*media queries*/

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .content-wrap, #portfolio ul {
        grid-column: 2/4;
    }

    #portfolio ul {
        display: flex;
        justify-content: space-around;
    }
}