/*
:root {
    variable colors 

*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: white;
    line-height: normal;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height:auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 12px 0;
}

p {
    margin: 0;
    padding: 12px 0;
}